kestra_flows/build-docker-image.yml
id: build-docker-image 
namespace: esgi.iabd
description: Build Docker image from repo and post it to Artifact  Registry 

labels:
  env: dev
  project: weather-forecast

inputs:
  - id: version
    type: STRING
    defaults: 0.0.1
    
tasks:
  - id: workingDirectory
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: cloneRepository
        type: io.kestra.plugin.git.Clone
        url: https://github.com/Florent-COMPAGNONI/orchestration_ml.git
        branch: main
      
      - id: fetchAuthToken
        type: io.kestra.plugin.gcp.auth.OauthAccessToken
        projectId: weather-forecast-427613
        serviceAccount: '{{ envs.gcp_sa_key }}'

      - id: buildDockerImage
        type: "io.kestra.plugin.docker.Build"
        dockerfile: Dockerfile
        platforms:
        - linux/amd64
        tags: 
        - europe-west9-docker.pkg.dev/weather-forecast-427613/app/app_image:{{ inputs.version }}
        push: true
        credentials:
          username: oauth2accesstoken
          password: "{{ outputs.fetchAuthToken.accessToken.tokenValue }}"
      
      - id: updateCloudRunService
        type: io.kestra.plugin.gcp.cli.GCloudCLI
        serviceAccount: "{{ envs.gcp_sa_key }}"
        projectId: weather-forecast-427613
        outputFiles:
          - storage.json
        commands:
          - gcloud run services update weather-api
            --image europe-west9-docker.pkg.dev/weather-forecast-427613/app/app_image:{{ inputs.version }}
            --region=europe-west9
            --service-account=weather-forecast-sa@weather-forecast-427613.iam.gserviceaccount.com
            --command="/app/entrypoint.sh"
            --port=8080
            